<nav class="footer-mobile" aria-label="footer links">
  <ul>
    <li class="menu-group">
      <div class="h6">Site menu</div>
      <ul class="usa-sidenav-sub_list">
        <li><a href="https://18f.gsa.gov">18F</a></li>
      {% for item in include.nav_items %}
        <li>
          {% if item.permalink %}
            {% assign item_link = item.permalink | prepend: site.baseurl %}
          {% else %}
            {% assign item_link = item.text | slugify | hash_link | prepend: site.baseurl %}
          {% endif %}
          <a href="{{ item_link }}">{{ item.text }}</a>
        </li>
      {% endfor %}
      </ul>
    </li>
    <li class="menu-group">
      <div class="h6">Contact us</div>
      <ul class="usa-sidenav-sub_list">
        <li>
          <a href="https://18f.gsa.gov/about/#for-press">Press</a>
        </li>
        <li>
          <a href="https://twitter.com/18F">@18F</a>
        </li>
        <li>
          <a href="mailto:18F@gsa.gov">18F@gsa.gov</a>
        </li>
        <li>
          <a href="https://github.com/18F/portfolios/issues/new">Report a bug</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
