<section class="blog-footer usa-section background-dark {{ include.extra_class }}">
  <div class="grid-container">
    <div class="tablet:grid-col-8">
      <h3 class="padding-bottom-3">{{ include.message | default: "Work with us to plan successful projects, choose better vendors, build custom software, or learn how to work in new ways."}}</h3>
      <button class="usa-button usa-button-secondary" href="https://18f.gsa.gov/contact/">{{ include.button_text | default: "Get in touch" }}</button>
    </div>
  </div>
</section>
