<section class="blog-footer usa-section background-dark">
  <div class="grid-container">
      <h3 class="tablet:grid-col-12">{{ include.message | default: "Work with us to plan successful projects, choose better vendors, build custom software, or learn how to work in new ways."}}</h3>
      <div class="tablet:grid-col-4">
        <a class="usa-button usa-button-secondary" href="{{ site.baseurl }}/contact/">{{ include.button_text | default: "Get in touch" }}</a>
      </div>
    </div>
</section>
