.usa-button-fancy {
  background-color: color('white');
  box-shadow: $button-stroke $theme-color-primary;
  color: $theme-color-primary;
  padding: 3rem;
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
  text-align: left;
  font-size: 3rem;
  font-weight: normal;
  width: -webkit-fill-available;

  &:hover,
  &.usa-button-hover {
    box-shadow: $button-stroke $theme-color-primary-dark;
    color: color('white');
  }

  &:active,
  &.usa-button-active {
    box-shadow: $button-stroke $theme-color-primary-darker;
    color: $theme-color-primary-darker;
  }

  &:visited,
  &.usa-button-visited {
    background-color: color('white');
    box-shadow: $button-stroke $theme-color-primary;
    color: $theme-color-primary;
  }
}

.portfolio-highlights img {
  height: 120px;
  width: 20%;

  @include at-media('tablet') {
    width: 75%;
  }
}

.normal-text {
  font-weight: normal;
}

.white-text, .white-text > b {
  color: white;
}

.fancy-button-icon {
  text-align: right;

  img {
    width: 5rem !important;
  }
}
