.portfolio-content ul.list-columns {
  margin-bottom: 2.4rem;
}

.portfolio-content .wider-than-two-thirds {
  width: 99vw;
}

.portfolio-highlights .usa-width-one-sixth img {
  float: right;
  margin-right: 1rem;
}

.portfolio-content .home-testimonial {
  margin-top: 5rem;
}

a.usa-button.usa-button-secondary {
  box-shadow: unset;
}

.background-dark a.usa-button.usa-button-secondary:focus, a.usa-button.usa-button-secondary:hover {
  background-color: #ffffff;
  box-shadow: unset;
}

@media screen and (min-width: 600px) {
  .portfolio-content .wider-than-two-thirds .usa-grid-full .usa-width-one-third, .usa-grid .usa-width-one-third {
    margin-right: 4%;
    width: 29%;
  }
}