.flex-landing-portfolios {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-landing-portfolios .col {
    flex: 1;
    width: 50%;
    display: flex; 
    padding: 0.5em;
    width: 100%;
  }
  .fancy-button-text {
    font-size: 2.4rem;  
  }
  .usa-grid {
    padding: 0 1rem;
  }
  
  @media (max-width: 768px) {
    .flex-landing-portfolios {
      display: block;
      .col {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }