.h3.portfolio-landing {
  font-weight: 400;
  font-size: 3.2rem;
}

.flex-landing-portfolios {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-landing-portfolios .col {
    flex: 1;
    width: 50%;
    display: flex; 
    padding: 0.5em;
    width: 100%;
  }
  .fancy-button-text {
    font-size: 2.4rem;  
  }
  .usa-grid {
    padding: 0 1rem;
  }

.usa-section-first {
  margin-bottom: -5rem;
}

.flex-landing-portfolios a.usa-button-fancy, .flex-landing-portfolios a.usa-button-fancy:visited {
    box-shadow: inset 0 0 0 2px #046b99;
    color: #1F2E4A;
    margin-bottom: 0 !important;
    margin-top: 2rem !important;
} 

.flex-landing-portfolios a.usa-button-fancy:hover, .flex-landing-portfolios a.usa-button-fancy:focus {
    background-color: #b3efff;
    font-weight: 500;
}

.flex-landing-button {
    display: flex;
    align-items: center;
}
  .flex-three-fourths {
    width: 74%;  
  }
  .flex-one-fourth {
    width: 24%;  
  }

  @media screen and (min-width: 600px) {
    .page-home .full-width-inside-grid {
        left: unset;
    }
  }

  
  @media (max-width: 768px) {
    .flex-landing-portfolios {
      display: block;
      .col {
        width: 100%;
        margin: 0 0 10px 0;
      }
    }
  }


  @media (max-width: 599px) {
    .h3.portfolio-landing {
      font-weight: 400;
      font-size: 2.4rem;
    }
  }
  