<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  {% include head.html %}

  <body>

    {% unless layout.title == '18F UI Styleguide' %}
      {% include header.html %}
    {% endunless %}

    <div role="main" class="main-content" id="main-content">
      {{ content }}
    </div>

    {% unless layout.title == '18F UI Styleguide' %}
      {% include navigation.html drawer=true %}

        {% include navigation.html footer=true %}

    {% endunless %}

    {% include javascript.html %}

  </body>
</html>
