---
layout: default
header_border: true
---

{% include breadcrumb.html
  parent_permalink=page.portfolio-permalink
  parent_title=page.portfolio
%}

<section class="page-tag-results">
  <section class="background-dark usa-section section-intro">
    <div class="grid-container">
      <div class="section-intro-header">
          <h1 class="section-heading section-heading-alt">10x</h1>
          <h2>Eligibility APIs Initiative</h2>
      </div>
    </div>
  </section>

  <section class="grid-container usa-section content-wide">
    <div class="grid-row grid-gap">
      <aside class="tablet:grid-col-4 margin-bottom-2 z-top bg-white sticky">
        {% include navigation.html subnav=true %}
      </aside>
      <section class="tablet:grid-col-8">
        <div class="small-caps small-caps-no-margin">{{ page.subtitle }}</div>
        {{ content }}
      </section>
    </div>
  </section>
</section>
