---
layout: default
header_border: true
---

{% include breadcrumb.html
  parent_permalink=page.portfolio-permalink
  parent_title=page.portfolio
%}

<section class="page-tag-results">

  <!-- Header, inherited from project-page.html -->
  <section class="background-dark">
    <div class="grid-container padding-x-0 usa-flex">
      <div class="grid-container {% if page.image %}tablet:grid-col-6{% else %}padding-x-0{% endif %} hero-callout-full hero-callout-no_button">
        <h1 class="hero-callout-title-secondary">
          Eligibility APIs Initiative
        </h1>
      </div>
      {% if page.image %}
        <div class="tablet:grid-col-6 usa-hero hero"
          style="background-image: url({{ site.baseurl }}{{ page.image }});"
          role="img"
          title="{{ page.image_accessibility }}">
        </div>
      {% else %}
        <div class="hero hero-img-collapsed" style="background-image: none">
        </div>
      {% endif %}
    </div>
  </section>

  <section class="grid-container usa-section content-wide">
    <div class="grid-row grid-gap">

      <!-- Side nav customized for eligibility-apis subsite + a11y considerations -->
      <aside class="tablet:grid-col-4 margin-bottom-2 z-top bg-white sticky">
        <nav aria-label="Secondary navigation">
          <ul class="usa-sidenav">
            {% for link in page.links %}
              {% assign _href = link.href %}
              {% assign _current = false %}
              {% if link.href == page.url or link.href == page.permalink %}
                {% assign _current = true %}
              {% endif %}
            <li>
              <a href="{% if link.external == true %}{{ link.href }}{% else %}{{ link.href | relative_url }}{% endif %}"
                 {% if _current %} class="text-bold" {% endif %}
                 {% if link.class %}class="{{ link.class }}" {% endif %} >
                 {{ link.text }}
              </a>
              {% if _current and page.subnav %}
              <ul class="usa-sidenav__sublist">
                {% include subnav.html links=page.subnav %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </nav>
      </aside>

      <!-- Page content -->
      <section class="tablet:grid-col-8">
        <div class="small-caps small-caps-no-margin">{{ page.subtitle }}</div>
        {{ content }}
      </section>
    </div>
  </section>
</section>
