---
layout: default
---

{% assign matching_posts = page | match_posts | sort:'date' | reverse %}


<section class="background-dark">
  <div class="grid-container hero-callout-full">
    {% if page.name %}
      <h1 class="portfolio-callout">
        <span class="hero-callout-alt_color">{{ page.name }}</span>
      </h1>
    {% endif %}
    <h2 class="hero-callout-title-secondary">
      {{ page.heading }}
    </h2>
    <h2 class="h3">
      {{ page.subheading }}
    </h2>
    <a class="usa-button usa-button-secondary" href="https://18f.gsa.gov/contact/">Work with us</a>
  </div>
</section>

<section class="portfolio-content">
  <section class="usa-section page-tag-results-content">
    {{ content }}
  </section>
</section>
