---
layout: default
header_border: true
---

{% assign matching_posts = page | match_posts | sort:'date' | reverse %}


{% include breadcrumb.html
  parent_permalink='/how-we-work/'
  parent_title='How we work'
%}

<section class="background-dark">
  <div class="usa-grid-full usa-flex">
    <div class="usa-grid {% if page.image %}usa-width-one-half{% else %}usa-width-one-whole{% endif %} hero-callout-full hero-callout-no_button">
      {% if page.name %}
        <h1 class="h3">
        <span class="hero-callout-alt_color">{{ page.name }}</span>
        </h1>
      {% endif %}
      <h1 class="hero-callout-title-secondary">
        {{ page.heading }}
      </h1>
      <h2 class="h3">
        {{ page.subheading }}
      </h2>
      <a class="usa-button usa-button-secondary" href="https://18f.gsa.gov/contact/">Work with us</a>
    </div>
    <!-- {% if page.image %}
      <div class="usa-width-one-half hero"
        style="background-image: url({{ site.baseurl }}{{ page.image }});"
        role="img"
        title="{{ page.image_accessibility }}">
      </div>
    {% else %}
      <div class="hero hero-img-collapsed" style="background-image: none">
      </div>
    {% endif %} -->
  </div>
</section>

<section>
  <div class="usa-grid">
    <section class="usa-section usa-width-two-thirds page-tag-results-content">
      {{ content }}
    </section>
  </div>
</section>

{% if page.show_blog_posts %}
<section class="page-tag-results">
  {% if matching_posts.size > 0 %}
  <div class="background-gray">
    <div class="usa-section post-border">
      <section class="usa-grid posts_feature">
        <div class="{% if matching_posts.size > 3 %}usa-flex usa-flex-pull-right usa-flex-baseline usa-spacer{% endif %}">
          <h2>Related blog posts</h2>
          {% if matching_posts.size > 3 %}
            <a class="link-arrow-right" href="{{ site.baseurl }}/tags/{{ page.tag | slugify }}/">See all posts related to this portfolio{% include svg/icons/arrow-right.svg %}</a>
          {% endif %}
        </div>
        <ul>
        {% for post in matching_posts limit:3 %}
          {% include post.html
             post_date=post.date
             post_title=post.title
             post_excerpt=post.excerpt
             post_url=post.url
          %}
        {% endfor %}
      </ul>
      </section>
    </div>
  </div>
  {% endif %}
</section>
{% endif %}
